@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #0A192F;
  color: #CCD6F6;
}

main {
  width: 100%;
  height: 100vh;
  padding: 20px;
}

main #global {
  margin-bottom: 80px;
}

main #global .container .header {
  text-align: center;
  width: 100%;
  height: 60px;
}

main #global .container .header h3 {
  font-size: 20px;
}

main #global .container .date {
  text-align: end;
  font-size: 12px;
  margin-right: 2px;
}

main #global .container .data {
  letter-spacing: 1px;
}

main #global .container .data .box {
  width: 100%;
  padding: 20px;
  border-radius: 4px;
  background-color: #172A45;
  margin: 7px 0;
  border: 2px solid #172A45;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

main #global .container .data .box h4 {
  margin-bottom: 15px;
}

main #global .container .data #deaths .value {
  color: #F57367;
}

main #global .container .data .box:hover {
  border: 2px solid #5FF2D0;
}

main #country {
  display: none;
}

main #country .container .header {
  border: 2px solid #0A192F;
  background-color: #0A192F;
  position: fixed;
  top: 0;
  padding: 20px 0;
  width: 100%;
  height: 60px;
  z-index: 2;
}

main #country .container .header h3 {
  font-size: 20px;
}

main #country .container .search {
  border: 2px solid #0A192F;
  background-color: #0A192F;
  padding-top: 60px;
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #country .container .search i {
  padding: 10px 10px 10px 0;
  margin-bottom: 20px;
}

main #country .container .search .close {
  font-size: 22px;
  display: none;
  position: absolute;
  right: 30px;
  margin-bottom: 20px;
}

main #country .container .search input {
  width: 100%;
  padding: 5px;
  background-color: inherit;
  border: 0;
  outline: 0;
  color: #CCD6F6;
  font-size: 15px;
  margin-bottom: 20px;
}

main #country .container .search input::-webkit-input-placeholder {
  color: #CCD6F6;
}

main #country .container .search input:-ms-input-placeholder {
  color: #CCD6F6;
}

main #country .container .search input::-ms-input-placeholder {
  color: #CCD6F6;
}

main #country .container .search input::placeholder {
  color: #CCD6F6;
}

main #country .container .countries {
  padding: 120px 0 80px 0;
}

main #country .container .countries .country-deaths {
  color: #F57367;
}

main #country .container .countries .container {
  font-size: 13px;
  margin-bottom: 6px;
  background-color: #172A45;
  padding: 15px;
  border-radius: 4px;
  border: 2px solid #172A45;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

main #country .container .countries .container .country-name {
  font-size: 20px;
  margin-bottom: 10px;
}

main #country .container .countries .container > div {
  margin-bottom: 3px;
}

main #country .container .countries .container:hover {
  border: 2px solid #5FF2D0;
}

main #about {
  display: none;
}

main #about .container {
  padding-top: 100px;
  text-align: center;
}

main #about .container .img-container {
  margin-bottom: 15px;
}

main #about .container .img-container img {
  border: 4px solid #5FF2D0;
  border-radius: 50%;
  width: 160px;
  height: 160px;
}

main #about .container .name-container {
  font-size: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

nav {
  width: 100%;
  height: 70px;
  position: fixed;
  bottom: 0;
  padding-top: 10px;
  background-color: #0A192F;
}

nav .container {
  margin-bottom: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

nav .container .box {
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

nav .container .box i {
  margin-bottom: 10px;
  margin-left: 20px;
}

nav .container .box:hover {
  color: #5FF2D0;
}

nav .container #box1 {
  color: #5FF2D0;
}

nav .container #box2 i {
  margin-left: 35px;
}
/*# sourceMappingURL=index.css.map */